:root {
    --bg-gradient: linear-gradient(180deg, rgb(240, 224, 167) 0%, rgb(255, 220, 81) 14%, rgba(254, 228, 52, 1) 66%);
}

* {
    box-sizing: border-box;
}

.body {
    background-color: #2a6c78;
    font-family: Montserrat, sans-serif;
    background-image: url("../img/1671737027_kalix-club-p-fon-dlya-prezentatsii-programmist-instagra-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*header*/

.header {
    width: 100%;
    background: var(--bg-gradient);
    margin-bottom: 2.5rem;
}

.header__logo {
    margin-right: 10px;
}

.image {
    width: 150px;
}

.form__polite {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 90vw;
    height: 90px;
    padding: 0 20px;
}

.title {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 500;
}

.container__form {
    padding: 100px 30px;
    margin: 0 auto;
    width: 1000px;
    min-height: 600px;
    background: var(--bg-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}

.form__input {
    margin-bottom: 30px;
    height: 40px;
    width: 25.5rem;
    border-radius: 10px;
    border: 1px solid #828282;
    padding-left: 10px;
}

.form__title {
    margin-bottom: 2.5rem;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    font-size: 2.5rem;
    font-weight: 500;
    color: #000;
}

.form__left-btn {
    margin-top: 40px;
    bottom: 110px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: #1e9fa3;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1rem;
}

.form__left-btn:hover {
    border: 1px solid #ccc;
}

.form__left-btn:active {
    box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.29);
}

.form__checkbox {
    transform: translate(-950%, 130%);
    margin-top: 0.4375rem;
    width: 20px;
}

.checkbox__text {
    left: 60px;
    color: #000000;
    font-size: 1rem;
}

.form__input.input-error {
    border: 1px solid red;
    color: red;
}

.form__input.input-error:focus {
    border: 1px solid red;
    color: red;
}

::placeholder {
    font-size: 1rem;
}

/* footer */
.footer {
    position: fixed;
    padding: 0 20px;
    width: 100%;
    bottom: 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1900px;
    min-height: 120px;
}

.footer__left {
    min-width: 400px;
}

.footer__right {
    display: flex;
    align-items: center;
}

.container__form-text {
    margin-right: 10px;
}

.container__form-logo {
    width: 100px;
    height: 100px;
    bottom: 10px;
    right: 70px;
    font-size: 1.5rem;
}